* {
    margin: 0;
    padding: 0;
    border: 0;
}

.hl-container {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}

.hl-container h3 {
    font-size: 40px;
    font-family: inherit;
    font-weight: lighter;
}

.hlheader {
    width: 80vw;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 400px;
    
    
    
}


.hlheader .hlg {
    height: 650px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    background-image: url('../../static/images/Edit.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 700px;
  
  
}

.hlheader {
    filter: contrast(110%);
}

.hlheader .logo {
    position: absolute;
    right: 0px;
    left: 400px;
    padding-top: 500px;
    display: block;
    width: 75%;

}
   

.hlheaderobj {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    
}

h3 {
    padding: 30px 30px 30px;
}





/* .hlheaderbg img {
    width: 800px;
    height: 600px;
} */