* {
    margin: 0;
    padding: 0;
    border: 0;
}

.hl-container {
    display: block;
    justify-content: center;
    align-items: center;
    
}

.hlheader {
    width: 80vw;
    height: 460px;
    background-color: black;
    margin: auto;
    top: 0;
}

.hlheader > img {
    width: inherit;
    height: inherit
}

.hlheaderobj {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
    
}

/* .hlheaderbg img {
    width: 800px;
    height: 600px;
} */