  
* {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    list-style: none;
    text-decoration: none;


    
} 



nav {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    /* border-bottom: 10px solid #E20B17; */
    /* Either keep it as a border, or make it a border that appears on hover
    under items*/

}

ul li a:hover {
    border-bottom: 5px red solid;
    transition: all 100ms ease-in-out;
}


.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 80px;
    text-align: center;
    width: 95vw;
    justify-content: center;
    
   

}

nav > ul li a { 
    color: #484848;
    font-weight: bold;
    padding-bottom: 10px;
    transition: all 400ms ease-in-out;
}